{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename = '/css/home.css')}}">
{% endblock %}

{% block content %}
    <h1>Home page</h1>
                <!-- <form method="post">
                    <p>enter your name</p>
                    <input type="text" name="client_name">
                    <p>enter your email</p>
                    <input type="email" name="client_email">
                    <p>enter your message</p>
                    <textarea name="message"></textarea>
                    <button type="submit">
                        send
                    </button>
                </form> -->
{% endblock %}