{% extends "base.html" %}

{% block title %}
registration
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('user.static', filename= '/css/registration.css') }}">
{% endblock %}

{% block content %}
    <h1 class="title">registration</h1>
    <form method="post">
        <p>Login</p>
        <input type="text" name="username" class="inputs">
        <p>Password</p>
        <input type="text" name="password" class="inputs">
        <button type="submit">Send</button>
    </form>
    {% if show_confirmed %}
        <div class="bck"></div>
        <div class="confirmed">
            <h1>Succefuly</h1>
            <a href="/login/">login</a>
        </div>
    {% endif %}
{% endblock %}