form {

    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    gap: 15px;
    
    position: absolute;
    width: 470px;
    height: 550px;
    left: 37%;
    top: 27%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    background: #FFFFFF;
    border: 5px solid #000000;
    border-radius: 45px;
    
}
button {
    /* Frame 9 */

    box-sizing: border-box;

    width: 264px;
    height: 75px;
    /* SEND */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;



    border: 5px solid #000000;
    border-radius: 35px;

    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
}
input {

    box-sizing: border-box;

    width: 375px;
    height: 110px;

    background: #EDEDED;
    border: 5px solid #000000;
    border-radius: 35px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;

}
.title {


box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content:flex-start;
align-items: flex-start;
padding: 0px 0px;
gap: 0px;

position: absolute;
width: 285px;
height: 105px;
left: 750px;
top: 205px;

border: 5px solid #000000;
border-radius: 45px;


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 61px;
align-items: center;
text-transform: uppercase;

color: #000000;

}
.reg_login {
    position: absolute;
    width: 420  px;
    height: 60px;
    right: 1%;
    top: 2%;
    flex-direction: row;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    color: #000000;


}