{% extends "base.html" %}

{% block title %}
    Tours
{% endblock %}
<!--  -->

{% block head %}
<link rel="stylesheet" href="{{ url_for('tour.static', filename = '/css/tours.css')}}">
{% endblock %}

{% block content %}
  
    <div class="tickets">
        {% for ticket in tickets %}
            <div class="ticket">
                <form method="post">
                    <button style="background-color: white; border:0px;" type="submit" id="{{ticket.id}}" name="button" value="{{ticket.id}}"><h2 class="title">{{ ticket.title }}</h2></button>
                </form>
                <p class="date">Date: {{ ticket.date }}</p>
                <p class="country">Country: {{ ticket.Country }}</p>
                    <!-- <button type="submit" id="{{ticket.id}}" name="button" value="{{ticket.id}}">Check all information about this tour</button> -->
            </div>
        {% endfor %}
    </div>
{% endblock %}