{% extends "base.html" %}

{% block title %}
    Tours
{% endblock %}

{% block content %}
    <h1>Tours</h1>
    <!-- <form method="post">
        <button type="submit">create tour</button>
    </form> -->
    {% for ticket in tickets %}
        <div>
            <hr>
            <h2>{{ ticket.title }}</h2>
            <p>Date: {{ ticket.date }}</p>
            <p>Country: {{ ticket.Country }}</p>
            <form method="post">
                <button type="submit" id="{{ticket.id}}" name="button" value="{{ticket.id}}">Check all information about this tour</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}