    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}
        
        {% endblock %}
    </head>
    <body>
        {% if not is_auth %}
            <div class="reg_login">
                <a href="/login/">Authorization</a>
                <a href="/registration/">Registration</a>
            </div>
        {% else %}
            <div class="already_auth">
                <a href="/" class="links1">Home</a>
                <a href="/tour/" class="links2">Tour</a>
                <a href="/tours/" class="links3">Tours</a>
                <p class="username">{{ username }}</p>
            </div>
            
        {% endif %}
        
        {% block content %}

        {% endblock %}
    </body>
</html>